:root {
    --blue: #2F459C;
    --blue-shade-1: #142E66;
    --blue-shade-2: #051833;
    --blue-tint-1: #5366CC;
    --blue-tint-2: #829FFF;
    --white: #F3F6FF;
    --off-white: #E3EAFF;
    --black: #0F1219;
}
